@import "styles/color";

.container {
	min-height: 48px;
	background-color: $dark;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	address {
		font-size: 14px;
		color: $fontDark;
	}
}