$white: #ffffff;
$border: #dce4ec;

$theme-colors: (
	"light":      #f7f1c3,
	"dark":       #0e0601,
	"primary":    #1a306b,
	"secondary":  #fb495e,
	"info":       #caa63d,
	"success":    #10a862,
	"warning":    #e3cc10,
	"danger":     #f31b06,
);