@import "src/styles/color";

.Button {
	background-color: $light;
	border: 1px solid $light;
	border-radius: 4px;
	color: $fontLight;
	font-family: 'Noto Sans KR', 'Roboto', sans-serif;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;

	&:hover {
		box-shadow: 0 1px 3px #1717173d;
		background-color: $light;
		border: 1px solid $borderBase;
		color: $fontLight;
	}

	&:focus {
		border: 1px solid $borderBase;
		outline: none;
	}
}