@import "src/styles/color";

.Result {
}

.opterator {
	height: 20px;
	color: $fontLight;
	font-size: 14px;

	.tags {
		color: $fontDark;
	}
}

.header {
	margin-top: 5px;
	margin-bottom: 3px;
	line-height: 1.3;
	font-size: 20px;
	color: $link;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.explain {
	font-size: 14px;
	line-height: 1.58;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}